.shop-products-list-component-container
{
    width: 100% !important;
    padding: 0% !important;
    margin: auto !important;
}

.shop-details-list-container-banner{
    background-image: linear-gradient(to right top,lightblue,rgb(11, 11, 144),rgb(0, 0, 126),rgb(16, 16, 126),lightblue);
    color: white;
    font-weight: bolder;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 100%;
}